<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <%= confirm_text(:deactivate_user, user_name: @user.name) %>
    </h1>

    <%= govuk_warning_text text: warning_text(:deactivate_user, user_name: @user.name) %>

    <%= form_with(url: manage_users_deactivated_users_path(id: @user)) do |f| %>
      <div class="govuk-button-group">
        <%= f.govuk_submit action_text(:confirm_deactivate) %>
        <%= govuk_link_to action_text(:abandon_deactivate), manage_users_root_path, no_visited_state: true %>
      </div>
    <% end %>
  </div>
</div>
