<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>
    <%= render @filter %>
  </div>
</div>

<% if @search.results.empty? %>
  <%= render 'no_search_results'%>
<% else %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-s">
        <%= t('.total', count: @search.total) %>
      </h2>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table app-dashboard-table" data-module="moj-sortable-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <%= table_headers(
                  %w[
                    applicant_name
                    reference
                    submitted_at
                    time_passed
                    caseworker
                    status
                  ],
                  base_params: { filter: @search.filter.to_h },
                  search: @search
                ) %>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <%= render partial: 'search_results_table_body',
                     collection: @search.results,
                     as: :result %>
        </tbody>
      </table>
      <%= paginate @search.pagination %>
    </div>
  </div>
<% end %>
