<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>
    <%= render @filter %>
  </div>
</div>

<% if @applications.any? %>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-heading-s">
        <%= t('.total', count: @search.total) %>
      </h2>
    </div>
    <div class="govuk-grid-column-one-half">
      <div class="govuk-!-text-align-right">
        <%= link_to "Download","#",class: "govuk-link" %>
      </div>
    </div>
  </div>

  <%= render 'search_results_table', applications: @applications %>

<% else %>

  <%= render 'no_search_results'%>

<% end %>
