<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t 'confirmations.deactivate_user', user_name: @user.name %>
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <%= t 'warnings.deactivate_user', user_name: @user.name %>
      </strong>
    </div>

    <div class="govuk-button-group">
      <%= form_with(
            url: admin_manage_user_deactivate_users_path(@user),
            method: :post
          ) do |f| %>
        <%= f.submit t('calls_to_action.confirm_deactivation'), class: 'govuk-button'%>
      <% end %>

      <%= button_to(
            t('calls_to_action.abandon_deactivation'),
            admin_manage_users_path,
            method: :get,
            class: 'govuk-button govuk-button--warning'
          ) %>
    </div>
  </div>
</div>
