<h2 class="govuk-heading-m">
  <%= label_text(:case_details) %>
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:case_type) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= t(case_details.case_type, scope: 'values') %>
    </dd>
  </div>
  <% if case_details.case_type.include? 'appeal' %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:date_appeal_lodged) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= l case_details.appeal_lodged_date, format: :compact %>
      </dd>
    </div>
    <% if case_details.case_type == 'appeal_to_crown_court_with_changes' %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:financial_change_details) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= case_details.appeal_with_changes_details %>
        </dd>
      </div>
    <% end %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:previous_maat_id) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= case_details.appeal_maat_id.presence || t(:not_provided, scope: 'values') %>
      </dd>
    </div>
  <% end%>

  <!-- Court hearing -->
  <% if case_details.is_first_court_hearing == LaaCrimeSchemas::Types::FirstHearingAnswerValues['no_hearing_yet'] %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:hearing_date) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t(LaaCrimeSchemas::Types::FirstHearingAnswerValues['no_hearing_yet'], scope: 'values') %>
      </dd>
    </div>
  <% else %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:hearing_date) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= l case_details.hearing_date, format: :compact %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:hearing_court_name) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= case_details.hearing_court_name %>
      </dd>
    </div>

    <% if (case_details.is_first_court_hearing == LaaCrimeSchemas::Types::FirstHearingAnswerValues['no']) && case_details.first_court_hearing_name.present? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:first_court_hearing_name) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= case_details.first_court_hearing_name %>
        </dd>
      </div>
    <% end %>
  <% end %>
</dl>
