<h2 class="govuk-heading-l">
  <%= label_text(:case_details_and_offences) %>
</h2>

<%= govuk_summary_card(title: label_text(:case_details)) do %>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:urn) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <span id="case-details-urn">
          <%= case_details.urn.presence || t(:none, scope: 'values') %>
        </span>
      </dd>
      <% if case_details.urn.presence && !crime_application.superseded? %>
        <dd class="govuk-summary-list__actions">
          <%= render partial: 'copy_link', locals: { link_text: t('calls_to_action.copy'), link_id: 'copy-case-details-urn', aria_label: 'Copy unique reference number' } %>
        </dd>
      <% end %>
    </div>
    <% if case_details.case_type.present? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:case_type) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(case_details.case_type, scope: 'values') %>
        </dd>
      </div>
    <% end %>

    <%= render partial: 'casework/crime_applications/sections/appeal_case_details',
               locals: { crime_application:, case_details: } if case_details.appeal? %>

    <% if case_details.has_case_concluded.present? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:has_case_concluded) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(case_details.has_case_concluded, scope: 'values') %>
        </dd>
      </div>

      <% if case_details.case_concluded? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:date_case_concluded) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= l(case_details.date_case_concluded, format: :compact) %>
          </dd>
        </div>
      <%end%>
    <%end%>

    <% if case_details.is_preorder_work_claimed.present? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:is_preorder_work_claimed) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(case_details.is_preorder_work_claimed, scope: 'values') %>
        </dd>
      </div>

      <% if case_details.preorder_work_claimed? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:preorder_work_date) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= l(case_details.preorder_work_date, format: :compact) %>
          </dd>
        </div>

        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:preorder_work_details) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= case_details.preorder_work_details %>
          </dd>
        </div>
      <%end%>
    <%end%>

    <% if case_details.is_client_remanded.present? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:is_client_remanded) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= client_remanded_value(case_details.is_client_remanded) %>
        </dd>
      </div>

      <% if case_details.client_remanded? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:date_client_remanded) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= l(case_details.date_client_remanded, format: :compact) %>
          </dd>
        </div>
      <%end%>
    <%end%>
  </dl>
<% end %>
