<%= govuk_summary_card(title: label_text(:client_details)) do %>
<dl class="govuk-summary-list">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:first_name) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= applicant.first_name %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:last_name) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= applicant.last_name %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:other_names) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= applicant.other_names.presence || t(:none, scope: 'values') %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:date_of_birth) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= l applicant.date_of_birth, format: :compact %>
    </dd>
  </div>
  <% unless crime_application.pse? || crime_application.appeal_no_changes? %>
    <% unless crime_application.means_passported_on_age? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:national_insurance_number) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= nino.presence || t(:not_provided, scope: 'values') %>
        </dd>
      </div>
      <% if applicant.arc.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:arc) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= applicant.arc %>
          </dd>
        </div>
      <% end %>
    <% end %>
    <% unless crime_application.means_passported_on_age? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:partner) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(applicant.has_partner.presence, scope: 'values') || t(false, scope: 'values') %>
        </dd>
      </div>
    <% end %>

    <% if FeatureFlags.partner_journey.enabled? %>
      <% if applicant.has_partner == 'no' %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:relationship_status) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= t(applicant.relationship_status, scope: 'values.relationship_status')%>
          </dd>
        </div>
        <% if applicant.relationship_status == 'separated' %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= label_text(:separation_date) %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= l applicant.separation_date, format: :compact %>
            </dd>
          </div>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
</dl>
<% end %>
