<h2 class="govuk-heading-m">
  <%= label_text(:client_details) %>
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:first_name) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= applicant.first_name %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:last_name) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= applicant.last_name %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:other_names) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= applicant.other_names.presence || t(:not_provided, scope: 'values') %>
    </dd>
  </div>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:date_of_birth) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= l applicant.date_of_birth, format: :compact %>
    </dd>
  </div>
  <% unless crime_application.pse? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:national_insurance_number) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= nino.presence || t(:not_provided, scope: 'values') %>
      </dd>
    </div>
    <% unless crime_application.appeal_no_changes? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:telephone_number) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= applicant_tel.presence || t(:not_provided, scope: 'values') %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:home_address) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if applicant.home_address %>
            <%= render 'address', address: applicant.home_address %>
          <% else %>
            <%= t(:no_home_address, scope: 'values') %>
          <% end %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:correspondence_address) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <% if applicant.correspondence_address_type == 'other_address' %>
            <%= render 'address', address: applicant.correspondence_address %>
          <% else %>
            <%= t(applicant.correspondence_address_type, scope: 'values') %>
          <% end %>
        </dd>
      </div>
    <% end %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:partner) %>
      </dt>
      <dd class="govuk-summary-list__value">
      <%# TODO Update this when has_partner provided by datastore %>
        <%= t(false, scope: 'values') %>
      </dd>
    </div>
  <% end %>
</dl>
