<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%= link_to app.applicant_name,
                crime_application_path(app),
                class: 'govuk-link--no-visited-state govuk-!-font-weight-regular' %>
  </th>
  <td class="govuk-table__cell">
    <%= app.reference %>
  </td>
  <% if FeatureFlags.post_submission_evidence.enabled? %>
    <td class="govuk-table__cell">
      <%= app.application_type.humanize %>
    </td>
  <% end %>
  <td class="govuk-table__cell">
    <%= l(app.submitted_at) %>
  </td>
  <td class="govuk-table__cell">
    <%= l(app.reviewed_at) if app.reviewed_at %>
  </td>
  <td class="govuk-table__cell">
    <%= app.reviewer_name %>
  </td>
  <td class="govuk-table__cell">
    <%= t(app.review_status, scope: 'values.review_status') %>
  </td>
</tr>
