<h2 class="govuk-heading-m">
  <%= label_text(:codefendants) %>
</h2>
<% if codefendants.any? %>
  <table class="govuk-table app-dashboard-table govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-three-quarters">
          <%= label_text('name') %>
        </th>
        <th scope="col" class="govuk-table__header">
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% codefendants.each do |codefendant| %>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <%= codefendant.first_name %>
            <%= codefendant.last_name %>
            <% if codefendant.conflict_of_interest.present? %>
              <span class='govuk-caption-m'>
                <%= t(codefendant.conflict_of_interest, scope: 'values.conflict_of_interest') %>
              </span>
            <% end %>
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right">
            <% if codefendant.conflict_of_interest == 'no' %>
              <span class="moj-badge moj-badge--red">
                <%= t(codefendant.conflict_of_interest, scope: 'values.conflict_of_interest_badge') %>
              </span>
            <% end %>
          </td>
      <%end%>
    </tbody>
  </table>
<% else %>
  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:codefendants) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t(false, scope: 'values') %>
      </dd>
    </div>
  </dl>
<% end %>
