<% return unless FeatureFlags.adding_decisions.enabled? %>

<% if crime_application.work_stream == ::Types::WorkStreamType['non_means_tested'] %>

  <h2 class="govuk-heading-l">
    <%= label_text(:funding_decision) %>
  </h2>

  <p><%= t '.manually_enter_decision' %></p>

  <% if crime_application.draft_decisions.empty? %>
    <%= govuk_button_to action_text(:start), crime_application_decisions_path(crime_application)  %>
  <% end %>

  <%= render(DecisionComponent.with_collection(crime_application.draft_decisions, show_actions: true)) %>
<% end %>

<% if crime_application.status? ::Types::ReviewState[:marked_as_ready] %>
  <h2 class="govuk-heading-l">
    <%= label_text(:funding_decision) %>
  </h2>

  <% if crime_application.draft_decisions.empty? %>
    <p>First you will need to create an application on MAAT using the reference number (USN) <%= @crime_application.reference %>.
    <%= govuk_button_to 'Add funding decision from MAAT', create_by_reference_crime_application_maat_decisions_path(crime_application)  %>
    </p>
  <% else %>
    <%= render(DecisionComponent.with_collection(crime_application.draft_decisions, show_actions: true)) %>
  <% end %>
<% end %>
