<% return unless FeatureFlags.adding_decisions.enabled? %>

<% if crime_application.decisions.present? %>
  <h2 class="govuk-heading-l"><%= label_text(:funding_decision) %></h2>

  <%= render(DecisionComponent.with_collection(
               crime_application.decisions,
               show_actions: crime_application.reviewable_by?(current_user_id)
             )) %>
<% elsif crime_application.reviewable_by?(current_user_id) %>
  <% if crime_application.cifc? %>
    <h2 class="govuk-heading-l"><%= label_text(:funding_decision) %></h2>

    <p><%= t('.update_application_on_maat') %></p>

    <%= govuk_button_to(
          action_text(:add_funding_decision),
          crime_application_link_maat_id_path(crime_application),
          method: :get
        ) %>
  <% else %>
    <% if crime_application.status?(::Types::ReviewState[:marked_as_ready]) %>
      <h2 class="govuk-heading-l"><%= label_text(:funding_decision) %></h2>

      <p><%= t('.create_application_on_maat', reference: crime_application.reference) %></p>

      <%= govuk_button_to(
            action_text(:add_funding_decision),
            create_by_reference_crime_application_maat_decisions_path(
              crime_application
            )
          ) %>
    <% end %>

    <% unless crime_application.means_tested?  %>
      <h2 class="govuk-heading-l"><%= label_text(:funding_decision) %></h2>
      <p><%= t '.manually_enter_decision' %></p>

      <%= govuk_button_to action_text(:start),
                          crime_application_decisions_path(crime_application)  %>
    <% end %>
  <% end %>
<% end %>
