<%= govuk_summary_card(title: label_text(:further_information)) do %>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:further_information_any) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t(crime_application.additional_information.present?, scope: [:values]) %>
      </dd>
    </div>

    <% if crime_application.additional_information.present? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:further_information_details) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= simple_format(crime_application.additional_information) %>
        </dd>
      </div>
    <% end %>
  </dl>
<% end %>
