<% if income_details.present? %>
  <h2 class="govuk-heading-m">
    <%= label_text(:income) %>
  </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:income_more_than) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t((income_details.income_above_threshold || :no), scope: 'values') %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:has_frozen_income_or_assets) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t((income_details.has_frozen_income_or_assets || :no), scope: 'values') %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:client_owns_property) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t((income_details.client_owns_property || :no), scope: 'values') %>
      </dd>
    </div>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:has_savings) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t((income_details.has_savings || :no), scope: 'values') %>
      </dd>
    </div>
  </dl>
<% end %>
