<% return if crime_application.means_details.income_details.blank? %>

<h2 class="govuk-heading-l">
  <%= label_text(:income_details) %>
</h2>

<%= render partial: 'casework/crime_applications/sections/employment', locals: { income_details: crime_application.means_details.income_details } %>
<%= render partial: 'casework/crime_applications/sections/income', locals: { income_details: crime_application.means_details.income_details } %>
<%= render partial: 'casework/crime_applications/sections/income_payments', locals: { income_details: crime_application.means_details.income_details, income_payments: crime_application.income_payments.formatted_income_payments } %>
<%= render partial: 'casework/crime_applications/sections/income_benefits', locals: { income_details: crime_application.means_details.income_details, income_benefits: crime_application.income_benefits.formatted_income_benefits } %>
<% if FeatureFlags.employment_journey.enabled? %>
  <%= render partial: 'casework/crime_applications/sections/employments', locals: { income_details: crime_application.means_details.income_details } %>
  <%= render partial: 'casework/crime_applications/sections/employment_income', locals: { employment_income: crime_application.income_payments.employment_income } %>
  <%= render partial: 'casework/crime_applications/sections/applicant_self_assessment_tax_bill', locals: { income_details: crime_application.means_details.income_details } %>
  <%= render partial: 'casework/crime_applications/sections/applicant_other_work_benefits', locals: { income_details: crime_application.means_details.income_details, other_work_benefits: crime_application.income_payments.other_work_benefits } %>
<% end %>

<%= render(
      partial: 'casework/crime_applications/sections/dependants',
      locals: {
        dependants: crime_application.dependants.formatted_dependants,
        income_details: crime_application.means_details.income_details
      }
    ) %>
<%= render partial: 'casework/crime_applications/sections/partner_employment', locals: { income_details: crime_application.means_details.income_details } %>
<%= render partial: 'casework/crime_applications/sections/other_income_details', locals: { income_details: crime_application.means_details.income_details } %>
