<% return if crime_application.means_details.income_details.blank? %>

<h2 class="govuk-heading-l">
  <%= label_text(:income_details) %>
</h2>

<%= render partial: 'casework/crime_applications/sections/employment', locals: { income_details: crime_application.means_details.income_details } %>
<%= render partial: 'casework/crime_applications/sections/income', locals: { income_details: crime_application.means_details.income_details } %>
<% if FeatureFlags.employment_journey.enabled? %>
  <%= render partial: 'casework/crime_applications/sections/employment_income', locals: { employment_income: crime_application.income_payments.applicant_employment_income } %>
  <%= render partial: 'casework/crime_applications/sections/employments', locals: { employments: crime_application.applicant_employments } %>
  <%= render partial: 'casework/crime_applications/sections/applicant_self_assessment_tax_bill', locals: { income_details: crime_application.means_details.income_details } %>
  <%= render partial: 'casework/crime_applications/sections/applicant_other_work_benefits', locals: { income_details: crime_application.means_details.income_details, other_work_benefits: crime_application.income_payments.applicant_other_work_benefits } %>
<% end %>

<% if FeatureFlags.self_employed_journey.enabled? %>
  <%= render partial: 'casework/crime_applications/sections/businesses', locals: { businesses: crime_application.applicant_businesses } %>
<% end %>

<%= render partial: 'casework/crime_applications/sections/income_payments', locals: { income_details: crime_application.means_details.income_details, income_payments: crime_application.income_payments.applicant_income_payments } %>
<%= render partial: 'casework/crime_applications/sections/income_benefits', locals: { income_details: crime_application.means_details.income_details, income_benefits: crime_application.income_benefits.applicant_income_benefits } %>

<%= render(
      partial: 'casework/crime_applications/sections/dependants',
      locals: {
        dependants: crime_application.dependants.formatted_dependants,
        income_details: crime_application.means_details.income_details
      }
    ) %>
<% if FeatureFlags.partner_journey.enabled? %>
  <%= render partial: 'casework/crime_applications/sections/partner_employment', locals: { income_details: crime_application.means_details.income_details } %>
  <% if FeatureFlags.employment_journey.enabled? %>
    <%= render partial: 'casework/crime_applications/sections/employment_income', locals: { employment_income: crime_application.income_payments.partner_employment_income } %>
    <%= render partial: 'casework/crime_applications/sections/employments', locals: { employments: crime_application.partner_employments } %>
    <%= render partial: 'casework/crime_applications/sections/partner_self_assessment_tax_bill', locals: { income_details: crime_application.means_details.income_details } %>
    <%= render partial: 'casework/crime_applications/sections/partner_other_work_benefits', locals: { income_details: crime_application.means_details.income_details, other_work_benefits: crime_application.income_payments.partner_other_work_benefits } %>
  <% end %>

  <% if FeatureFlags.self_employed_journey.enabled? %>
    <%= render partial: 'casework/crime_applications/sections/businesses', locals: { businesses: crime_application.partner_businesses } %>
  <% end %>
  <%= render partial: 'casework/crime_applications/sections/income_payments_partner', locals: { income_details: crime_application.means_details.income_details, income_payments: crime_application.income_payments.partner_income_payments } %>
  <%= render partial: 'casework/crime_applications/sections/income_benefits_partner', locals: { income_details: crime_application.means_details.income_details, income_benefits: crime_application.income_benefits.partner_income_benefits } %>
<% end %>
<%= render partial: 'casework/crime_applications/sections/other_income_details', locals: { income_details: crime_application.means_details.income_details } %>
