<h2 class="govuk-heading-m">
  <%= label_text(:overview) %>
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:application_type) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= t(overview.application_type, scope: 'values') %>
    </dd>
  </div>

  <% unless overview.pse? %>
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:means_tested) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <% if overview.not_means_tested? %>
        <%= t('no', scope: 'values') %>
      <% elsif overview.means_passported? %>
        <%= govuk_tag(text: t(:passported, scope: 'values'), colour: 'blue') %>
      <% else %>
        <%= govuk_tag(text: label_text('undetermined'), colour: 'red') %>
      <% end %>
    </dd>
  </div>

  <% unless overview.means_passported_on_age? || overview.not_means_tested? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:means_type) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <% if overview.means_passported? %>
          <%= govuk_tag(text: t(:passported, scope: 'values'), colour: 'blue') %>
        <% else %>
          <%= govuk_tag(text: label_text('undetermined'), colour: 'red') %>
        <% end %>
      </dd>
    </div>

    <% unless overview.means_passported_on_age? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:passporting_benefit) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(overview.client_details.applicant.benefit_type.presence, scope: 'values') || t(:not_asked, scope: 'values') %>
        </dd>
      </div>
    <% end %>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:urn) %>
      </dt>
      <dd class="govuk-summary-list__value">
      <span id="urn">
        <%= overview.case_details.urn.presence || t(:not_provided, scope: 'values') %>
      </span>
        <% if overview.case_details.urn.presence && !overview.superseded? %>
          <%=link_to t('calls_to_action.copy_urn'), '', id: 'copy-urn-reference-number', class: 'govuk-link--no-visited-state' %>
        <% end %>
      </dd>
    </div>

    <% if FeatureFlags.means_journey.enabled? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:has_case_concluded) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= overview.case_details.has_case_concluded %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:date_case_concluded) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= l(overview.case_details.date_case_concluded, format: :compact) %>
        </dd>
      </div>
    <%end%>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:application_start_date) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= l(overview.date_stamp, format: :compact) %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:overall_offence_class) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <% if overview.case_details.offence_class %>
          <%= govuk_tag(text: "#{t('values.class')} #{overview.case_details.offence_class}", colour: 'blue') %>
        <% else %>
          <%= govuk_tag(text: label_text('undetermined'), colour: 'red') %>
        <% end %>
      </dd>
    </div>
  <% end %>
</dl>
