<h2 class="govuk-heading-m">
  <%= label_text(:overview) %>
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= label_text(:application_type) %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= t(overview.application_type, scope: 'values') %>
    </dd>
  </div>

  <% unless @crime_application.application_type?(:post_submission_evidence) %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:means_type) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <% if overview.means_passported? %>
          <span class="moj-badge moj-badge--blue"><%= t(:passported, scope: 'values') %></span>
        <% else %>
          <span class="moj-badge moj-badge--red"><%= label_text('undetermined') %></span>
        <% end %>
      </dd>
    </div>

    <% unless overview.means_passported_on_age? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:passporting_benefit) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(overview.client_details.applicant.benefit_type.presence, scope: 'values') || t(:not_asked, scope: 'values') %>
        </dd>
      </div>
    <% end %>


    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:urn) %>
      </dt>
      <dd class="govuk-summary-list__value">
      <span id="urn">
        <%= overview.case_details.urn.presence || t(:not_provided, scope: 'values') %>
      </span>
        <% if overview.case_details.urn.presence && !overview.superseded? %>
          <%=link_to t('calls_to_action.copy_urn'), '', id: 'copy-urn-reference-number', class: 'govuk-link--no-visited-state' %>
        <% end %>
      </dd>
    </div>
  <% end %>

  <% unless @crime_application.application_type?(:post_submission_evidence) %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:application_start_date) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= l(overview.date_stamp, format: :compact) %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:overall_offence_class) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <% if overview.case_details.offence_class %>
          <span class="moj-badge moj-badge--blue">
            <%= t('values.class') %>
            <%= overview.case_details.offence_class %>
          </span>
        <% else %>
          <span class="moj-badge moj-badge--red">
            <%= label_text('undetermined') %>
          </span>
        <% end %>
      </dd>
    </div>
  <% end %>
</dl>
