<%= govuk_summary_card(title: label_text(:overview)) do %>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:application_type) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t(overview.application_type, scope: 'values') %>
      </dd>
    </div>

    <% if overview.cifc? %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:pre_cifc_reason) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <span id="pre_cifc_reason">
            <%= overview.pre_cifc_reason.presence || t(:not_provided, scope: 'values') %>
          </span>
        </dd>
      </div>

      <% if overview.maat_id_selected? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:pre_cifc_maat_id) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <span id="pre_cifc_maat_id">
              <%= overview.pre_cifc_maat_id.presence || t(:not_provided, scope: 'values') %>
            </span>
          </dd>
        </div>
      <% elsif overview.usn_selected? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:pre_cifc_usn) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <span id="pre_cifc_usn">
              <%= overview.pre_cifc_usn.presence || t(:not_provided, scope: 'values') %>
            </span>
          </dd>
        </div>
      <% end %>
    <% end %>

    <% unless overview.pse? %>
      <div class="govuk-summary-list__row">
        <% if overview.is_means_tested %>
          <dt class="govuk-summary-list__key">
            <%= label_text(:means_tested) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= t(overview.is_means_tested, scope: 'values') %>
          </dd>
        <% end %>
      </div>

      <% unless overview.means_passported_on_age? || overview.not_means_tested? || overview.appeal_no_changes? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:passporting_benefit) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= t(overview.client_details.applicant.benefit_type.presence, scope: 'values') || t(:not_asked, scope: 'values') %>
          </dd>
        </div>

        <% if overview.last_jsa_appointment_date?(overview.client_details.applicant) %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= label_text(:date_of_latest_jsa_appointment) %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= l overview.client_details.applicant.last_jsa_appointment_date, format: :compact %>
            </dd>
          </div>
        <% end %>
      <% end %>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:urn) %>
        </dt>
        <dd class="govuk-summary-list__value">
        <span id="urn">
          <%= overview.case_details.urn.presence || t(:not_provided, scope: 'values') %>
        </span>
          <% if overview.case_details.urn.presence && !overview.superseded? %>
            <%=link_to t('calls_to_action.copy_urn'), '', id: 'copy-urn-reference-number', class: 'govuk-link--no-visited-state' %>
          <% end %>
        </dd>
      </div>

      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:application_start_date) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= l(overview.date_stamp, format: :compact) %>
        </dd>
      </div>

      <% unless overview.cifc? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:overall_offence_class) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <% if overview.case_details.offence_class %>
              <%= govuk_tag(text: "#{t('values.class')} #{overview.case_details.offence_class}", colour: 'blue') %>
            <% else %>
              <%= govuk_tag(text: label_text('undetermined'), colour: 'red') %>
            <% end %>
          </dd>
        </div>
      <% end %>
    <% end %>
  </dl>
<% end %>
