<% if applicant.has_partner == 'yes' %>
  <%= govuk_summary_card(title: label_text(:partner_details)) do %>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:relationship_to_client) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(applicant.relationship_to_partner, scope: 'values.relationship_to_client')  %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:first_name) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= partner.first_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:last_name) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= partner.last_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:other_names) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= partner.other_names.presence || t(:none, scope: 'values') %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:date_of_birth) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <span id="partner-date-of-birth">
            <%= l partner.date_of_birth, format: :compact %>
          </span>
        </dd>
        <dd class="govuk-summary-list__actions">
          <%= render partial: 'copy_button', locals: { text: t('calls_to_action.copy'), id: 'copy-partner-date-of-birth', aria_label: 'Copy date of birth' } %>
        </dd>
      </div>
      <% if crime_application.partner.formatted_nino.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:national_insurance_number) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <span id="partner-nino">
              <%= crime_application.partner.formatted_nino %>
            </span>
          </dd>
          <dd class="govuk-summary-list__actions">
            <%= render partial: 'copy_button', locals: { text: t('calls_to_action.copy'), id: 'copy-partner-nino', aria_label: 'Copy National Insurance number' } %>
          </dd>
        </div>
      <% end %>
      <% if crime_application.partner.arc.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:arc) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= crime_application.partner.arc %>
          </dd>
        </div>
      <% end %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:involvement_in_case) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(partner.involvement_in_case, scope: 'values.involvement_in_case')%>
        </dd>
      </div>
      <% if partner.involvement_in_case == 'codefendant' %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:conflict_of_interest) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= t(partner.conflict_of_interest, scope: 'values') %>
          </dd>
        </div>
      <% end %>
      <% if partner.has_same_address_as_client.present? %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:has_same_address_as_client) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= t(partner.has_same_address_as_client, scope: 'values') %>
          </dd>
        </div>
        <% partner_home_address = partner.has_same_address_as_client == 'yes' ? applicant.home_address : partner.home_address %>
        <% if partner_home_address.present? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= label_text(:home_address) %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= render 'address', address: partner_home_address %>
            </dd>
          </div>
        <% end %>
      <% end %>
    </dl>
  <% end %>
<% end %>
