<% return unless payment %>

<div class="govuk-summary-list__row">
  <dt class="govuk-summary-list__key">
    <%= label_text("how_much_#{payment.payment_type}") %>
  </dt>
  <dd class="govuk-summary-list__value">
    <%= number_to_currency(payment.amount, unit: '£', separator: '.', delimiter: ',') %>
    every
    <%= payment.frequency %>

    <%= payment.metadata.attributes.each do |k, v| %>
      <%= k %>: <%= v%>
    <% end %>
  </dd>
</div>
