<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-top-5 govuk-!-margin-bottom-4">
      <%= govuk_tag(text: t(crime_application.review_status, scope: 'values.review_status'), colour: t(crime_application.review_status, scope: 'values.color')) %>
    </div>

    <div class="govuk-!-margin-bottom-4 app-wrap-button">
      <p class="govuk-body-l govuk-!-margin-bottom-0 <%= 'app_superseded_style' if crime_application.superseded? %>">
        <span class="govuk-!-margin-right-2" id="reference-number">
          <%= crime_application.reference %>
        </span>
        <% unless crime_application.superseded? %>
          <%= render partial: 'copy_button', locals: { text: t('calls_to_action.copy_laa_reference'), id: 'copy-reference-number', aria_label: 'Copy LAA reference' } %>
        <% end %>
      </p>
    </div>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4 <%= 'app_superseded_style' if crime_application.superseded? %>">
      <%= crime_application.applicant.full_name %>
    </h1>

    <% if crime_application.superseded? %>
      <%= govuk_warning_text(
            text: safe_join(
              [
                t('warning_text.resubmitted'),
                govuk_link_to(t('calls_to_action.go_to_latest'), crime_application_path(crime_application.latest_application_id), class: 'app-no-print')
              ],
              ' '
            )
          ) %>
    <% end %>

    <div class="govuk-grid-row govuk-!-margin-bottom-6">
      <div class="govuk-grid-column-one-half">
          <%= render partial: 'assignment', object: crime_application %>
      </div>
    </div>
  </div>
</div>
