<% if crime_application.evidence_details.show? || crime_application.supporting_evidence.present? %>
  <h2 class="govuk-heading-l">
    <% if crime_application.pse? %>
      <%= label_text(:post_submission_evidence) %>
    <% else %>
      <%= label_text(:supporting_evidence) %>
    <% end %>
  </h2>
<% end %>

<% if crime_application.evidence_details.show? %>
  <h2
    class="govuk-heading-s govuk-!-margin-bottom-7"
    data-evidence-last-run-at="<%= crime_application.evidence_details.last_run_at %>">
      <%= label_text(:evidence_asked_for) %>:
  </h2>
<% end %>

<!-- Client & Partner evidence -->
<% [:client, :partner].each do |persona| %>
  <% [:income, :outgoings, :capital, :none].each do |group| %>
    <%= render partial: 'prompt', locals: {
          rules: crime_application.evidence_details.rules_for(group:, persona:),
          persona: persona,
          title: label_text("evidence_#{persona}_#{group}")
        } %>
  <% end %>
<% end %>

<!-- Other evidence -->
<%= render partial: 'prompt', locals: {
      rules: crime_application.evidence_details.rules_for(group: :none, persona: :other),
      persona: :other,
      title: label_text(:evidence_other)
    } %>

<% if crime_application.supporting_evidence.present? %>
  <%= govuk_summary_card(title: label_text(:file_name)) do
        govuk_summary_list(actions: false) do |list|
          crime_application.supporting_evidence.each do |evidence|
            list.with_row do |row|
              row.with_key { evidence.filename }
              row.with_value do
                govuk_link_to(
                  sanitize(t(:download_file, scope: 'values',
                             file_extension: evidence.file_extension,
                             file_size: number_to_human_size(evidence.file_size))),
                  download_documents_path(crime_application_id: crime_application.id, id: evidence.s3_object_key)
                )
              end
            end
            list.with_row do |row|
              row.with_key { evidence.filename }
              row.with_value do
                govuk_link_to(
                  sanitize(t(:download_file, scope: 'values',
                             file_extension: evidence.file_extension,
                             file_size: number_to_human_size(evidence.file_size))),
                  documents_path(crime_application_id: crime_application.id, id: evidence.s3_object_key)
                )
              end
            end
          end
        end
      end %>
<% end %>
