<h2 class="govuk-heading-l">
  <% if crime_application.pse? %>
    <%= label_text(:post_submission_evidence) %>
  <% else %>
    <%= label_text(:supporting_evidence) %>
  <% end %>
</h2>

<% if crime_application.evidence_details.show? %>
  <h2
    class="govuk-heading-s govuk-!-margin-bottom-5"
    data-evidence-last-run-at="<%= crime_application.evidence_details.last_run_at %>">
      <%= label_text(:evidence_asked_for) %>:
  </h2>
<% end %>

<!-- Client & Partner evidence -->
<% [:client, :partner].each do |persona| %>
  <% [:income, :outgoings, :capital, :none].each do |group| %>
    <%= render partial: 'prompt', locals: {
          rules: crime_application.evidence_details.rules_for(group:, persona:),
          persona: persona,
          title: label_text("evidence_#{persona}_#{group}")
        } %>
  <% end %>
<% end %>

<!-- Other evidence -->
<%= render partial: 'prompt', locals: {
      rules: crime_application.evidence_details.rules_for(group: :none, persona: :other),
      persona: :other,
      title: label_text(:evidence_other)
    } %>

<%= render SupportingEvidenceComponent.new(crime_application:) %>
