<% if crime_application.evidence_details.show? || crime_application.supporting_evidence.present? %>
  <h2 class="govuk-heading-m">
    <% if crime_application.pse? %>
      <%= label_text(:post_submission_evidence) %>
    <% else %>
      <%= label_text(:supporting_evidence) %>
    <% end %>
  </h2>
<% end %>

<% if crime_application.evidence_details.show? %>
  <h2
    class="govuk-heading-s govuk-!-margin-bottom-7"
    data-evidence-last-run-at="<%= crime_application.evidence_details.last_run_at %>">
      <%= label_text(:evidence_asked_for) %>:
  </h2>
<% end %>

<!-- Client & Partner evidence -->
<% [:client, :partner].each do |persona| %>
  <% [:income, :outgoings, :capital, :none].each do |group| %>
    <%= render partial: 'prompt', locals: {
          rules: crime_application.evidence_details.rules_for(group:, persona:),
          persona: persona,
          title: label_text("evidence_#{persona}_#{group}")
        } %>
  <% end %>
<% end %>

<!-- Other evidence -->
<%= render partial: 'prompt', locals: {
      rules: crime_application.evidence_details.rules_for(group: :none, persona: :other),
      persona: :other,
      title: label_text(:evidence_other)
    } %>

<% if crime_application.supporting_evidence.present? %>
  <table class="govuk-table app-dashboard-table govuk-!-margin-bottom-9">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">
          <%= label_text(:file_name) %>
        </th>
        <th scope="col" class="govuk-table__header">
        </th>
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <% crime_application.supporting_evidence.each do |evidence| %>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell file-name">
            <%= evidence.filename %>
          </td>
          <td class="govuk-table__cell govuk-!-text-align-right">
            <%= govuk_link_to(
                  sanitize(t(:download_file, scope: 'values',
                             file_extension: evidence.file_extension,
                             file_size: number_to_human_size(evidence.file_size))),
                  download_documents_path(crime_application_id: crime_application.id, id: evidence.s3_object_key)
                ) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
