<% title t('.page_title') %>
<%= render partial: 'review_overview', locals: { crime_application: @crime_application } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-9">
    <%= render partial: 'subnavigation', locals: { crime_application: @crime_application } %>

    <h2 class="govuk-heading-l">
      <%= label_text(:applicant_details) %>
    </h2>

    <%= render partial: 'additional_information', object: @crime_application.additional_information %>
    <%= render partial: 'overview', object: @crime_application %>

    <% if @crime_application.pse? %>
      <%= render partial: 'pse', locals: { crime_application: @crime_application } %>
    <% elsif @crime_application.appeal_no_changes? %>
      <%= render partial: 'appeal_no_changes', locals: { crime_application: @crime_application } %>
    <% else %>
      <%= render partial: 'initial', locals: { crime_application: @crime_application } %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <% if @crime_application.reviewable_by?(current_user_id) %>
      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <% if @crime_application.status?(:marked_as_ready) || @crime_application.pse? %>
        <%= button_to t('calls_to_action.mark_complete'),
                      complete_crime_application_path(@crime_application),
                      method: :put,
                      class: 'govuk-button govuk-button' %>
        <% else %>
        <%= button_to t('calls_to_action.mark_as_ready'),
                      ready_crime_application_path(@crime_application),
                      method: :put,
                      class: 'govuk-button govuk-button' %>
        <% end %>
        <% unless @crime_application.pse? %>
          <%= button_to t('calls_to_action.send_back'),
                        new_crime_application_return_path(@crime_application),
                        method: :get,
                        class: 'govuk-button govuk-button--warning' %>
        <% end %>
        <%= button_to t('calls_to_action.unassign_from_self'),
                      assigned_application_path(@crime_application),
                      method: :delete,
                      class: 'govuk-button govuk-button--secondary' %>
      </div>
    <% end %>

    <p>
      <%= link_to t('.view_history'),
                  history_crime_application_path(@crime_application),
                  class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
    </p>
    <p>
      <%= link_to t('.view_your_list'),
                  assigned_applications_path,
                  class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
    </p>
  </div>
</div>
