<% title t('.page_title') %>

<% content_for(:head) do %>
  <%= stylesheet_link_tag 'print', media: 'print' %>
<% end %>

<% if @crime_application.decisions_pending? && @crime_application.reviewable_by?(current_user_id) %>
  <% message = t(:finish_adding_decisions, scope: 'flash.important', continue_adding_decision_link: govuk_link_to(t(:continue_adding_decision, scope: 'flash.important'), crime_application_send_decisions_path(@crime_application))) %>
  <%= render FlashNotice.new(:important, message) %>
<% end %>

<%= render partial: 'review_overview', locals: { crime_application: @crime_application } %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= render partial: 'subnavigation', locals: { crime_application: @crime_application } %>

    <h2 class="govuk-heading-l">
      <%= label_text(:application_details) %>
    </h2>

    <% if @crime_application.deleted? %>
      <%= render partial: 'deleted', locals: { crime_application: @crime_application } %>
    <% else %>
      <%= render partial: 'additional_information', object: @crime_application.additional_information %>
      <%= render partial: 'overview', object: @crime_application %>

      <% if @crime_application.pse? %>
        <%= render partial: 'pse', locals: { crime_application: @crime_application } %>
      <% elsif @crime_application.appeal_no_changes? %>
        <%= render partial: 'appeal_no_changes', locals: { crime_application: @crime_application } %>
      <% elsif @crime_application.cifc? %>
        <%= render partial: 'change_in_financial_circumstances', locals: { crime_application: @crime_application } %>
      <% else %>
        <%= render partial: 'initial', locals: { crime_application: @crime_application } %>
      <% end %>

      <%= render partial: 'funding_decision', locals: { crime_application: @crime_application } %>
    <% end %>
  </div>
</div>

<div class="govuk-grid-row app-no-print">
  <div class="govuk-grid-column-full">
    <% if @crime_application.reviewable_by?(current_user_id) %>
      <div class="govuk-button-group govuk-!-margin-bottom-6">
        <%= reviewing_actions(@crime_application) %>
      </div>
    <% end %>

    <p>
      <%= link_to t('.view_history'),
                  history_crime_application_path(@crime_application),
                  class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
    </p>
    <p>
      <%= link_to t('.view_your_list'),
                  assigned_applications_path,
                  class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
    </p>
  </div>
</div>
