<h2 class="govuk-heading-m">
  <%= t(:codefendants, scope: 'crime_applications.section.headings') %>
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <% if codefendants.any? %>
    <% codefendants.each_with_index do |codefendant, i| %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t(:codefendant, scope: 'crime_applications.labels', number: i + 1) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= codefendant.first_name %>
          <%= codefendant.last_name %>
        </dd>
        <% if codefendant.conflict_of_interest == 'yes' %>
          <dd class="govuk-summary-list__value govuk-!-text-align-right">
            <span class="moj-badge moj-badge--red">
              <%= t("crime_applications.values.conflict_of_interest.#{codefendant.conflict_of_interest}") %>
            </span>
          </dd>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= t(:codefendants, scope: 'crime_applications.labels') %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t(false, scope: 'crime_applications.values') %>
      </dd>
    </div>
  <% end %>
</dl>
