<h2 class="govuk-heading-m">
  <%= t(:interests_of_justice, scope: 'crime_applications.section.headings') %>
</h2>

<table class="govuk-table app-dashboard-table govuk-!-margin-bottom-9">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        <%= t('crime_applications.labels.interests_of_justice_type') %>
      </th>
      <th scope="col" class="govuk-table__header">
        <%= t('crime_applications.labels.justification') %>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% if crime_application.ioj_passport.present? %>
      <% crime_application.ioj_passport.each do |passport| %>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <%= t(passport, scope: 'crime_applications.values') %>
          </td>
          <td class="govuk-table__cell">
            <span class="moj-badge moj-badge--blue"><%= t(:passported, scope: 'crime_applications.values') %></span>
          </td>
        </tr>
      <% end %>
    <% else %>
      <% crime_application.interests_of_justice.each do |interest_of_justice| %>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <%= t(interest_of_justice.type, scope: 'crime_applications.values') %>
          </td>
          <td class="govuk-table__cell">
            <%= interest_of_justice.reason %>
          </td>
        </tr>
      <% end %>
    <% end %>

  </tbody>
</table>
