<h2 class="govuk-heading-m">
  <%= t(:offence_details, scope: 'crime_applications.section.headings') %>
</h2>

<table class="govuk-table app-dashboard-table govuk-!-margin-bottom-9">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header govuk-!-width-two-thirds">
        <%= t('crime_applications.labels.offence') %>
      </th>
      <th scope="col" class="govuk-table__header">
        <%= t('crime_applications.labels.offence_date') %>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% offences.each do |offence| %>
      <% offence.dates.each_with_index do |date, i| %>
        <tr class="govuk-table__row">
          <td scope="row" class="govuk-table__cell">
            <%= offence.name %>
            <% if offence.offence_class.present? %>
              <span class='govuk-caption-m'>
                <%= t('crime_applications.values.class') %>
                <%= offence.offence_class %>
              </span>
            <% end %>
          </td>
          <td class="govuk-table__cell">
              <%= l date.date_from, format: :compact %>
              <% if date.date_to %>
              <%= t('crime_applications.values.to') %>
              <%= l date.date_to, format: :compact %>
              <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
