<h2 class="govuk-heading-m">
  <%= t(:offence_details, scope: 'crime_applications.section.headings') %>
</h2>

<table class="govuk-table app-dashboard-table">
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">
        <%= t('crime_applications.labels.offence') %>
      </th>
      <th scope="col" class="govuk-table__header">
        <%= t('crime_applications.labels.offence_date') %>
      </th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <% offences.each do |offence| %>
      <tr class="govuk-table__row">
        <td scope="row" class="govuk-table__cell">
          <%= offence.name %>
          <span class='govuk-caption-m'>
            <%= offence.offence_class %>
          </span>
        </td>
        <td class="govuk-table__cell">
          <% offence.dates.each do |date| %>
            <%= l date %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
