<h2 class="govuk-heading-m">
  <%= t(:overview, scope: 'crime_applications.section.headings') %>
</h2>

<dl class="govuk-summary-list govuk-!-margin-bottom-9">
  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(:application_type, scope: 'crime_applications.labels') %>
    </dt>
    <dd class="govuk-summary-list__value">
    <%# TODO implement application type once we handle more types - currently hardcoded %>
      <%= t(:initial_application, scope: 'crime_applications.values') %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(:means_type, scope: 'crime_applications.labels') %>
    </dt>
    <dd class="govuk-summary-list__value">
    <%# TODO implement means type once we handle it - currently hardcoded %>
      <span class="moj-badge moj-badge--blue"><%= overview.means_type %></span>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(:urn, scope: 'crime_applications.labels') %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= overview.case_details.urn.presence || t(:not_provided, scope: 'crime_applications.values') %>
    </dd>
  </div>

  <div class="govuk-summary-list__row">
    <dt class="govuk-summary-list__key">
      <%= t(:application_start_date, scope: 'crime_applications.labels') %>
    </dt>
    <dd class="govuk-summary-list__value">
      <%= l(overview.created_at, format: :compact) %>
    </dd>
  </div>
</dl>
