<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <div class="govuk-!-margin-top-5">
      <span class="govuk-tag govuk-tag--<%= t(crime_application.review_status, scope: 'values.color') %> govuk-!-margin-bottom-4">
        <%= t(crime_application.review_status, scope: 'values.review_status') %>
      </span>
    </div>

    <% if crime_application.superseded? %>
      <% id = "superseded" %>
    <% end %>

    <p class="govuk-body-l govuk-!-margin-bottom-2" id=<%= id %>>
      <span class="govuk-!-margin-right-2" id="reference-number">
        <%= crime_application.reference %>
      </span>
      <% unless crime_application.superseded? %>
        <%=link_to t('calls_to_action.copy'), '', id: 'copy-reference-number', class: 'govuk-link--no-visited-state' %>
      <% end %>
    </p>

    <h2 class="govuk-heading-xl govuk-!-margin-bottom-4" id=<%= id %>>
      <%= crime_application.applicant_name %>
    </h2>

    <%= render partial: 'assignment', locals: { crime_application: } %>
  </div>
</div>
