<% title t(".#{@review_status}_title") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
      <h1 class="govuk-heading-xl">
        <%= t ".#{@review_status}_heading" %>
      </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-s">
      <%= t('.total', count: @search.total) %>
    </h2>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
  <table class="govuk-table app-dashboard-table">
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <%= render "#{@review_status}_crime_applications_table_headers", sorting: @search.sorting %>
      </tr>
    </thead>

    <tbody class="govuk-table__body">
      <%= render partial: "#{@review_status}_crime_applications_table_body",
                 collection: @search.results,
                 as: :app %>
    </tbody>
  </table>
    <%= paginate @search.pagination %>
  </div>
</div>
