<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <p class="govuk-body-l govuk-!-margin-bottom-2">
      <%= @crime_application.reference %>
    </p>

    <h2 class="govuk-heading-xl govuk-!-padding-top-0">
      <%= @crime_application.applicant_name %>
    </h2>

    <%= render(partial: 'current_assignment',
               locals: {
                 received_at: @crime_application.submitted_at,
                 current_assignment: @crime_application.current_assignment
               })%>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/subnavigation', locals: { crime_application: @crime_application } %>
    <%= render partial: 'overview', object: @crime_application %>
    <%= render partial: 'client_details', object: @crime_application.client_details %>
    <%= render partial: 'case_details', object: @crime_application.case_details %>
    <%= render partial: 'offences', object: @crime_application.case_details.offences %>
    <%= render partial: 'codefendants', object: @crime_application.case_details.codefendants %>
    <%= render partial: 'interests_of_justice', object: @crime_application.interests_of_justice %>
  </div>
</div>
