<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'shared/flash_banner' %>
    <h1 class="govuk-heading-xl">
      <%= @crime_application.application_reference %>
    </h1>

    <h2 class="govuk-heading-l">
      <%= @crime_application.applicant_name %>
    </h2>

    <%= render(@crime_application.assignment) %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render partial: 'overview', object: @crime_application %>
    <%= render partial: 'client_details', object: @crime_application.client_details %>
    <%= render partial: 'case_details', object: @crime_application.case_details %>
    <%= render partial: 'offences', object: @crime_application.case_details.offences %>
    <%= render partial: 'co_defendants', object: @crime_application.case_details.co_defendants %>
    <%= render partial: 'interests_of_justice', object: @crime_application.interests_of_justice %>
  </div>
</div>
