<% title @report.title %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-6">
      <%= label_text(@report_type) %>
    </h1>

    <div class="govuk-tabs">
      <ul class="govuk-tabs__list" role="tablist">
        <% @intervals.values.each_with_index do |interval, index| %>
          <% css_class = %w[govuk-tabs__list-item govuk-tabs__list-item--selected] %>
          <%= content_tag(:li, class: @interval == interval ? css_class : css_class.first) do %>
            <%= link_to(
                  label_tag(interval),
                  reporting_current_temporal_report_path(interval: interval, report_type: @report_type),
                  class: 'govuk-tabs__tab'
                ) %>
          <% end %>
        <% end %>
      </ul>

      <div class=govuk-tabs__panel>
        <%= render partial: 'block_pagination', locals: { report: @report } %>

        <h2 class="govuk-heading-m"><%= @report.period_name %></h2>

        <% if @interval == 'weekly' %>
          <h3 class="govuk-heading-s"><%= @report.period_text %></h3>
        <% end %>

        <%= turbo_frame_tag [@report_type, @report.to_param], data: { turbo: 'true' } do %>
          <%= render partial: @report_type, locals: { report: @report, sorting: @sorting } %>
        <% end %>
      </div>
    </div>
  </div>
</div>
