<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <%= t '.heading' %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
    <%= link_to t('.buttons.add_new_user'),
                new_admin_manage_user_path,
                class: 'govuk-button govuk-button--primary' %>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-27 govuk-!-margin-bottom-3"><%= t '.table.caption' %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><%= t '.table.headings.email' %></th>
          <th scope="col" class="govuk-table__header"><%= t '.table.headings.last_auth_at' %></th>
          <th scope="col" class="govuk-table__header"><%= t '.table.headings.manage_others' %></th>
          <th scope="col" class="govuk-table__header"><%= t '.table.headings.actions' %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @users.each do |user| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= user.email %></td>
            <td class="govuk-table__cell"><%= l(user.last_auth_at, format: :timestamp) if user.last_auth_at %></td>
            <td class="govuk-table__cell"><%= t(user.can_manage_others, scope: 'values') %></td>
            <td class="govuk-table__cell">
              <% unless user.id == current_user_id %>
                <%= link_to t('.buttons.edit'), edit_admin_manage_user_path(user), class: 'govuk-link' %>
                <% unless user.deactivated? %>
                  <%= link_to t('.buttons.deactivate'), new_admin_manage_user_deactivate_users_path(user), class: 'govuk-link' %>
                <% end %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
