<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <%= t '.heading' %>
    </h1>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-3">
    <%= link_to action_text(:add_new_user),
                new_admin_manage_user_path,
                class: 'govuk-button govuk-button--primary' %>
  </div>
</div>

<nav class="moj-sub-navigation" aria-label="Sub navigation">
  <ul class="moj-sub-navigation__list">
    <li class="moj-sub-navigation__item">
        <%= govuk_link_to action_text(:existing_users),
                          admin_manage_users_path,
                          class: 'moj-sub-navigation__link',
                          aria: { current: 'page' } %>
    </li>
    <li class="moj-sub-navigation__item">
      <%= govuk_link_to action_text(:invited_users),
                        '#',
                        class: 'moj-sub-navigation__link' %>
    </li>
  </ul>
</nav>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-!-font-size-27 govuk-!-margin-bottom-3"><%= t '.table.caption' %></caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header"><%= thead_text :email %></th>
          <th scope="col" class="govuk-table__header"><%= thead_text :manage_others %></th>
          <th scope="col" class="govuk-table__header"><%= thead_text :last_auth_at %></th>
          <th scope="col" class="govuk-table__header"><%= thead_text :actions %></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <% @users.each do |user| %>
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><%= user.email %></td>
            <td class="govuk-table__cell"><%= l(user.last_auth_at, format: :timestamp) if user.last_auth_at %></td>
            <td class="govuk-table__cell"><%= t(user.can_manage_others, scope: 'values') %></td>
            <td class="govuk-table__cell">
              <% unless user.id == current_user_id %>
                <ul class="govuk-summary-list__actions-list">
                  <% unless user.dormant? %>
                    <li class="govuk-summary-list__actions-list-item">
                      <%= govuk_link_to action_text(:edit), edit_admin_manage_user_path(user, return_url: request.original_url) %>
                    </li>
                  <% end %>
                  <li class="govuk-summary-list__actions-list-item">
                    <%= govuk_link_to action_text(:deactivate), new_admin_manage_user_deactivate_users_path(user) %>
                  </li>
                </ul>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="govuk-grid-column-full">
    <%= paginate @users %>
  </div>
</div>
