<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-l">
      <%= t 'confirmations.reassign_to_self_html' %>
    </h1>

    <%= govuk_summary_list(classes: ['govuk-summary-list--no-border', 'govuk-!-margin-bottom-6']) do |summary_list|
          summary_list.with_row do |row|
            row.with_key(text: t('.client_name'))
            row.with_value(text: @crime_application.applicant_name)
          end
          summary_list.with_row do |row|
            row.with_key(text: t('labels.application_type_heading'))
            row.with_value(text: t(@crime_application.application_type, scope: 'values'))
          end
          summary_list.with_row do |row|
            row.with_key(text: t('labels.application_submitted'))
            row.with_value(text: l(@crime_application.submitted_at, format: :datestamp))
          end
          summary_list.with_row do |row|
            row.with_key(text: t('table_headings.reference'))
            row.with_value(text: @crime_application.reference)
          end
          summary_list.with_row do |row|
            row.with_key(text: t('.currently_assigned_to'))
            row.with_value(text: User.name_for(@current_assignment.user_id))
          end
        end %>

    <div class="govuk-button-group">
      <%= form_with(
            url: crime_application_reassign_path(assignment_id: @current_assignment.assignment_id),
            method: :post
          ) do |f| %>
        <%= f.hidden_field :from_whom_id, value: @current_assignment.user_id %>
        <%= f.submit t('calls_to_action.confirm_reassign_to_self'), class: 'govuk-button'%>
      <% end %>

      <%= govuk_link_to t('calls_to_action.abandon_reassign_to_self'),
                        crime_application_path(@current_assignment.assignment_id),
                        no_visited_state: true %>
    </div>
  </div>
</div>

<% content_for(:back_link) do %>
  <%= govuk_back_link href: :back %>
<% end %>
