<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t 'confirmations.reassign_to_self_html' %>
    </h1>

    <dl class="govuk-summary-list govuk-summary-list--no-border govuk-!-margin-bottom-6">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.client_name') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @crime_application.applicant_name %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('labels.application_type_heading') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(@crime_application.application_type, scope: 'values') %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('labels.application_submitted') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= l(@crime_application.submitted_at, format: :datestamp) %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('table_headings.reference') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= @crime_application.reference %>
        </dd>
      </div>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= t('.currently_assigned_to') %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= User.name_for(@current_assignment.user_id) %>
        </dd>
      </div>
    </dl>

    <div class="govuk-button-group">
      <%= form_with(
            url: crime_application_reassign_path(assignment_id: @current_assignment.assignment_id),
            method: :post
          ) do |f| %>
        <%= f.hidden_field :from_whom_id, value: @current_assignment.user_id %>
        <%= f.submit t('calls_to_action.confirm_reassign_to_self'), class: 'govuk-button'%>
      <% end %>

      <%= govuk_link_to t('calls_to_action.abandon_reassign_to_self'),
                        crime_application_path(@current_assignment.assignment_id),
                        no_visited_state: true %>
    </div>
  </div>
</div>

<% content_for(:back_link) do %>
  <%= govuk_back_link href: :back %>
<% end %>
