<% if income_details.applicant_self_assessment_tax_bill.present? %>
  <%= govuk_summary_card(title: label_text_with_subject(:self_assessment_tax_bill, 'client')) do %>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:applicant_self_assessment_tax_bill) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(income_details.applicant_self_assessment_tax_bill, scope: 'values') %>
        </dd>
      </div>
      <% if income_details.applicant_self_assessment_tax_bill == 'yes' %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            <%= label_text(:applicant_self_assessment_tax_bill_amount) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= simple_format(t('values.payment_with_frequency',
                                amount: number_to_currency(income_details.applicant_self_assessment_tax_bill_amount * 0.01),
                                frequency: t(income_details.applicant_self_assessment_tax_bill_frequency, scope: [:values, :frequency]))) %>
          </dd>
        </div>
      <% end %>
    </dl>
  <% end %>
<% end %>
