<% return if income_details&.client_has_dependants.blank? %>

<%= govuk_summary_card(title: label_text(:dependants)) do %>
  <% if dependants.any? %>
    <dl class="govuk-summary-list">
      <% dependants.each do |age_range, count| %>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key govuk-!-width-one-half">
            <%= label_text(:number_of_dependants, age_range:) %>
          </dt>
          <dd class="govuk-summary-list__value">
            <%= count %>
          </dd>
        </div>
      <%end%>
    </dl>
  <% else %>
    <dl class="govuk-summary-list">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:has_dependants) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t(income_details.client_has_dependants, scope: 'values') %>
        </dd>
      </div>
    </dl>
  <% end %>
<% end %>
