<%= govuk_summary_card(title: label_text(:next_court_hearing)) do %>
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:what_court_is_the_hearing_at) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= case_details.next_court_hearing %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:when_is_the_next_hearing) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= case_details.next_court_hearing_at %>
      </dd>
    </div>

    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:same_court_as_first_hearing) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t(case_details.is_first_court_hearing, scope: 'values') %>
      </dd>
    </div>
  </dl>
<% end %>
