<%= govuk_summary_card(title: label_text(:other_capital_details)) do %>
  <dl class="govuk-summary-list">
    <% unless capital_details&.has_frozen_income_or_assets.nil? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:has_frozen_income_or_assets) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t(capital_details.has_frozen_income_or_assets, scope: 'values') %>
      </dd>
    </div>
    <% end %>
    <% unless capital_details&.has_no_other_assets.nil? %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= label_text(:has_no_other_assets) %>
      </dt>
      <dd class="govuk-summary-list__value">
        <%= t(capital_details.has_no_other_assets, scope: 'values.has_no_other_assets') %>
      </dd>
    </div>
    <% end %>
  </dl>
<% end %>
