<% return unless payments.present? || details.has_no_other_outgoings == 'yes' %>

<%= govuk_summary_card(title: label_text(:payments_the_client_pays)) do %>
  <dl class="govuk-summary-list">
    <% if details.has_no_other_outgoings == 'yes' %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:which_payments_does_the_client_pay) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t('values.none') %>
        </dd>
      </div>
    <% elsif payments.present? %>
      <% payments.each do |payment_type, value| %>
        <%= render partial: 'payment_with_frequency',
                   locals: {
                     key: label_text("outgoing_payment_#{payment_type}"),
                     payment: value,
                     does_not_text: t('values.does_not_pay')
                   } %>
        <% if payment_type == 'legal_aid_contribution' && value.present? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= label_text(:case_reference) %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= value.metadata.case_reference %>
            </dd>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </dl>
<% end %>
