<% if outgoing_payments %>
  <h2 class="govuk-heading-m">
    <%= label_text(:payments_the_client_pays) %>
  </h2>

  <dl class="govuk-summary-list govuk-!-margin-bottom-9">
    <% if outgoing_payments.any? %>
      <% outgoing_payments.each do |payment_type, value| %>
        <%= render partial: 'payment_with_frequency',
                   locals: {
                     key: label_text("outgoing_payment_#{payment_type}"),
                     payment: value,
                     does_not_text: t('values.does_not_pay')
                   } %>
        <% if payment_type == 'legal_aid_contribution' && value.present? %>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              <%= label_text(:case_reference) %>
            </dt>
            <dd class="govuk-summary-list__value">
              <%= value.metadata.case_reference %>
            </dd>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          <%= label_text(:which_payments_does_the_client_pay) %>
        </dt>
        <dd class="govuk-summary-list__value">
          <%= t('values.none') %>
        </dd>
      </div>
    <% end %>
  </dl>
<% end %>
