<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      <%= t 'confirmations.reassign_to_self_html', from_whom_name: User.name_for(@current_assignment.user_id) %>
    </h1>

    <div class="govuk-warning-text">
      <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
      <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Warning</span>
        <%= t 'warnings.reassign_to_self' %>
      </strong>
    </div>

    <div class="govuk-button-group">
      <%= form_with(
            url: crime_application_reassign_path(assignment_id: @current_assignment.assignment_id),
            method: :post
          ) do |f| %>
        <%= f.hidden_field :from_whom_id, value: @current_assignment.user_id %>
        <%= f.submit t('calls_to_action.confirm_reassign_to_self'), class: 'govuk-button'%>
      <% end %>

      <%= button_to(
            t('calls_to_action.abandon_reassign_to_self'),
            crime_application_path(@current_assignment.assignment_id),
            method: :get,
            class: 'govuk-button govuk-button--warning'
          ) %>
    </div>
  </div>
</div>
