<% title t '.title', count: @decisions.size %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l govuk-!-margin-bottom-2">
      <%= @crime_application.reference %>
      <%= govuk_link_to(t('calls_to_action.view_application'), crime_application_path(@crime_application), no_visited_state: true) %>
    </p>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= @crime_application.applicant.full_name %>
    </h1>

    <% unless @crime_application.non_means? %>
      <h2 class="govuk-heading-m">
        <%= t '.title', count: @decisions.size %>
      </h2>
    <% end %>

    <%= govuk_error_summary(@form_object) %>
  </div>

  <div class="govuk-grid-column-full">
    <%= render DecisionComponent.with_collection(@decisions, show_actions: true, action_context: :submit) %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <% if @decisions.all? &:complete? %>
      <%= form_with model: @form_object, url: crime_application_send_decisions_path do |f| %>

        <% if @crime_application.non_means? %>
          <%= f.hidden_field :next_step, value: :send_to_provider %>

          <div class="govuk-button-group govuk-!-margin-bottom-6">
            <%= f.govuk_submit t('helpers.label.decisions_send_to_provider_form.next_step_options.send_to_provider') %>
            <%= govuk_button_link_to action_text(:save_and_come_back), assigned_applications_path, secondary: true %>
          </div>

        <% else %>
          <%= f.govuk_radio_buttons_fieldset :next_step, legend: { tag: 'h2', size: 'm' } do %>
            <%= f.govuk_radio_button :next_step, :send_to_provider, link_errors: true %>
            <%= f.govuk_radio_button :next_step, :add_another %>
          <% end %>

          <div class="govuk-button-group govuk-!-margin-bottom-6">
            <%= f.govuk_submit %>
            <%= govuk_button_link_to action_text(:save_and_come_back), assigned_applications_path, secondary: true %>
          </div>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
