<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%= link_to crime_application.applicant_name,
                crime_application_path(crime_application),
                class: 'govuk-link--no-visited-state govuk-!-font-weight-regular' %>
  </th>
  <td class="govuk-table__cell">
    <%= crime_application.reference %>
  </td>
  <% if FeatureFlags.work_stream.enabled? %>
    <td class="govuk-table__cell">
      <%= label_text(crime_application.work_stream) %>
    </td>
  <% end %>
  <td class="govuk-table__cell">
    <%= l(crime_application.submitted_at) %>
  </td>
  <td class="govuk-table__cell">
    <%= t('values.days_passed', count: crime_application.days_passed) %>
  </td>
</tr>
