<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-1">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-1"><%= t '.heading' %></h1>
    <p><%= t '.your_assignments', count: assignments_count %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with url: next_application_assigned_applications_path do |f| %>
      <div class="govuk-button-group">
        <%= f.button t('.get_next'),
                     class: 'govuk-button govuk-!-margin-bottom-1',
                     data: { module: 'govuk-button' } %>

        <%= link_to t('.open_applications'),
                    open_crime_applications_path,
                    class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
      </div>
    <% end %>
  </div>
</div>

<% if assignments_count > 0 %>
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <table class="govuk-table app-dashboard-table">
          <%= render DataTable::HeadComponent.new(sorting: @search.sorting) do |head|
                head.with_row do |row|
                  row.with_cell(colname: :applicant_name)
                  row.with_cell(colname: :reference)
                  row.with_cell(colname: :work_stream) if FeatureFlags.work_stream.enabled?
                  row.with_cell(colname: :submitted_at)
                  row.with_cell(colname: :submitted_at, text: sanitize(thead_text(:time_passed)))
                end
              end %>
          <tbody class="govuk-table__body">
            <%= render partial: 'crime_application',
                       collection: @search.results,
                       as: :crime_application %>
          </tbody>
        </table>
      </div>
    </div>

    <%= paginate @search.pagination %>
<% end %>
