<tr class="govuk-table__row">
  <th scope="row" class="govuk-table__header">
    <%= link_to result.applicant_name,
                crime_application_path(result.resource_id),
                class: 'govuk-link--no-visited-state govuk-!-font-weight-regular' %>
  </th>
  <td class="govuk-table__cell">
    <%= result.reference %>
  </td>
  <% if FeatureFlags.post_submission_evidence.enabled? %>
    <td class="govuk-table__cell">
      <%= result.application_type.humanize %>
    </td>
  <% end %>
  <td class="govuk-table__cell">
    <%= result.case_type&.humanize  %>
  </td>
  <td class="govuk-table__cell">
    <%= l(result.submitted_at) %>
  </td>
  <td class="govuk-table__cell">
    <%= l(result.reviewed_at) if result.reviewed_at %>
  </td>
  <td class="govuk-table__cell">
    <%= result.caseworker_name %>
  </td>
  <td class="govuk-table__cell">
    <%= t(result.review_status, scope: 'values.review_status') %>
  </td>
</tr>
