<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= form_with(url: manage_competencies_caseworker_competency_path(id: @caseworker), model: @caseworker, method: :patch) do |f| %>
      <%= f.govuk_check_boxes_fieldset :competencies, legend: { text: confirm_text(:change_competencies, user_name: @caseworker.name, from: @caseworker.role.humanize), size: 'xl' }, hint: { text: t('manage_competencies.hint') } do %>

        <%= f.govuk_check_boxes_fieldset :competencies, legend: { text: label_text(:work_stream_competencies), size: 's' } do %>
          <% ::Types::WORK_STREAM_COMPETENCIES.each do |competency| %>
            <%= f.govuk_check_box :competencies, competency, label: { text: t(competency, scope: 'labels') } %>
          <% end %>
        <% end %>

        <%= f.govuk_check_boxes_fieldset :competencies, legend: { text: label_text(:application_type_competencies), size: 's' } do %>
          <% ::Types::APPLICATION_TYPE_COMPETENCIES.each do |competency| %>
            <%= f.govuk_check_box :competencies, competency, label: { text: t(competency, scope: 'labels') } %>
          <% end %>
        <% end %>

        <%= f.govuk_check_box_divider %>

        <%= f.govuk_check_box :competencies, [], exclusive: true, label: { text: 'No competencies' }, checked: f.object.competencies.empty? %>
      <% end %>

      <div class="govuk-button-group">
        <%= f.govuk_submit action_text(:save) %>
      </div>
    <% end %>
  </div>
</div>

<% content_for(:back_link) do %>
  <%= govuk_back_link href: :back %>
<% end %>
