<% return unless user %>

<h2 class="govuk-heading-m">
  Actions
</h2>

<ul class="govuk-summary-list__actions-list govuk-!-padding-bottom-6">
  <% if user.deactivated? %>
    <li class="govuk-summary-list__actions-list-item">
      <%= gov_link_to_unless_current_user(
            user: user,
            text: action_text(:reactivate),
            path: confirm_reactivate_manage_users_deactivated_user_path(id: user),
            html_options: { no_visited_state: true }
          ) %>
    </li>
  <% elsif user.activated? %>
    <% if user.awaiting_revival? %>
      <li class="govuk-summary-list__actions-list-item">
        <%= action_text(:awaiting_revival) %>
      </li>
    <% elsif user.dormant? %>
      <li class="govuk-summary-list__actions-list-item">
        <%= gov_link_to_unless_current_user(
              user: user,
              text: action_text(:revive),
              path: edit_manage_users_revive_user_path(id: user),
              html_options: { no_visited_state: true }
            ) %>
      </li>
    <% else  %>
      <li class="govuk-summary-list__actions-list-item">
        <%= gov_link_to_unless_current_user(
              user: user,
              text: action_text(:deactivate),
              path: new_manage_users_deactivated_user_path(id: user),
              html_options: { no_visited_state: true }
            ) %>
      </li>

      <% if FeatureFlags.basic_user_roles.enabled? %>
        <li class="govuk-summary-list__actions-list-item">
          <%= gov_link_to_unless_current_user(
                user: user,
                text: action_text(:change_role),
                path: edit_manage_users_change_role_path(id: user),
                html_options: { no_visited_state: true }
              ) %>
        </li>
      <% end %>
    <% end %>
  <% elsif user.pending_activation? %>
    <% if user.invitation_expired? %>
      <li class="govuk-summary-list__actions-list-item">
        <%= gov_link_to_unless_current_user(
              user: user,
              text: action_text(:renew),
              path: confirm_renew_manage_users_invitation_path(user),
              html_options: { no_visited_state: true, class: 'xgovuk-button' }
            ) %>
      </li>
    <% end %>

    <li class="govuk-summary-list__actions-list-item">
      <%= gov_link_to_unless_current_user(
            user: user,
            text: action_text(:delete),
            path: confirm_destroy_manage_users_invitation_path(user),
            html_options: { no_visited_state: true, class: 'xgovuk-button xgovuk-button--secondary' }
          ) %>
    </li>
  <% end %>
</ul>
