<div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <table class="govuk-table app-dashboard-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">
              <%= t('.table_headings.applicant_name') %>
            </th>
            <th scope="col" class="govuk-table__header">
              <%= t('.table_headings.reference') %>
            </th>
            <th scope="col" class="govuk-table__header">
              <%= t('.table_headings.received_on') %>
            </th>
            <th scope="col" class="govuk-table__header">
              <%= t('.table_headings.time_passed') %>
            </th>
            <th scope="col" class="govuk-table__header">
              <%= t(:common_platform, scope: 'crime_applications.labels') %>
            </th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          <%= render partial: 'application/crime_application',
                     collection: applications,
                     as: :crime_application %>
        </tbody>
      </table>
    </div>
  </div>
