<% title t('.page_title') %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
    <h1 class="govuk-heading-xl"><%=t '.heading' %></h1>
    <p><%=t '.your_assignments', count: @applications.count %></p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full govuk-!-margin-bottom-5">
    <%= form_with url: next_application_assigned_applications_path do |f| %>
      <div class="govuk-button-group">
        <%= f.button t('.get_next'),
                     class: 'govuk-button',
                     data: { module: 'govuk-button' } %>

        <%= link_to t('.open_applications'),
                    crime_applications_path,
                    class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
      </div>
    <% end %>
  </div>
</div>

<% if @applications.any? %>
  <%= render 'application_table', applications: @applications %>
<% end %>
