<% title 'TESING' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l govuk-!-margin-bottom-2">
      <%= @crime_application.reference %>
    </p>

    <%= form_with model: @form_object, url: crime_application_funding_decisions_path(@crime_application.id) do |f| %>
      <%= f.text_field :reason %>

      <%= f.govuk_error_summary %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>

