<% title t('.page_title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-7">
      <%= t '.heading' %>
    </h1>
  </div>
</div>

<div class="govuk-grid-column-full govuk-!-font-size-24 govuk-!-margin-bottom-2">
  <div class="govuk-grid-row">
    <p class="govuk-body">
      <%= label_text(:email) %><br>
      <%= @user.email %>
    </p>
  </div>
</div>

<%= form_with url: admin_manage_users_active_user_path(@user.id), method: :put do |f| %>
  <div class="govuk-form-group govuk-!-margin-bottom-8">
    <%= f.govuk_check_box :can_manage_others,
                          true,
                          multiple: false,
                          checked: @user.can_manage_others,
                          label: { text: action_text(:give_access_to_manage_others) } %>
  </div>

  <div class="govuk-button-group">
    <%= f.submit 'Save', class: 'govuk-button govuk-button--primary' %>
    <%= link_to action_text(:cancel), admin_manage_users_root_path,
                class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
  </div>
<% end %>
