<% title t '.title' %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l govuk-!-margin-bottom-2">
      <%= @crime_application.reference %>
      <%= govuk_link_to(t('calls_to_action.view_application'), crime_application_path(@crime_application), no_visited_state: true) %>
    </p>

    <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= @crime_application.applicant.full_name %>
    </h1>

    <%= govuk_error_summary(@form_object) %>

    <h2 class="govuk-heading-l"> <%= t '.title' %> </h2>

    <%= form_with model: @form_object,
                  url: crime_application_maat_decisions_path do |f| %>

                  <%= f.govuk_number_field :maat_id, autocomplete: 'off', width: 'one-quarter', extra_letter_spacing: true, label: { tag: 'h2', size: 'm' } %>

        <div class="govuk-button-group govuk-!-margin-bottom-6">
          <%= f.govuk_submit %>
          <%= govuk_button_link_to action_text(:save_and_come_back), assigned_applications_path, secondary: true %>
        </div>
    <% end %>
  </div>
</div>
