<% title t('.page_title') %>

<h1 class="govuk-heading-l"><%= t('.heading') %></h1>

<% if @crime_application.supporting_evidence.present? %>
  <% @crime_application.supporting_evidence.each do |evidence| %>
    <div class="govuk-!-margin-bottom-8">
      <h2 class="govuk-heading-m"><%= evidence.filename %></h2>

      <% if evidence.viewable_inline? %>
        <% if evidence.content_type == 'application/pdf' %>
          <iframe src="<%= embed_documents_path(crime_application_id: @crime_application.id, id: evidence.s3_object_key) %>"
                  class="app-evidence-embed app-evidence-embed--pdf"
                  title="<%= evidence.filename %>">
          </iframe>
        <% else %>
          <img src="<%= embed_documents_path(crime_application_id: @crime_application.id, id: evidence.s3_object_key) %>"
               class="app-evidence-embed app-evidence-embed--image"
               alt="<%= evidence.filename %>">
        <% end %>
      <% else %>
        <p class="govuk-body"><%= t('.not_embeddable') %></p>
        <%= govuk_link_to(
              sanitize(t(:download_file, scope: 'values', file_extension: evidence.file_extension, file_size: number_to_human_size(evidence.file_size))),
              download_documents_path(crime_application_id: @crime_application.id, id: evidence.s3_object_key)
            ) %>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p class="govuk-body"><%= t(:no_files_uploaded, scope: 'values') %></p>
<% end %>
