<% title t('.page_title') %>

<%= render partial: 'review_overview', locals: { crime_application: @crime_application } %>

<%= render partial: 'subnavigation', locals: { crime_application: @crime_application } %>

<h2 class="govuk-heading-l"><%= t('.heading') %></h2>

<% viewable_evidence = @crime_application.supporting_evidence.select(&:viewable_inline?) %>
<% if viewable_evidence.present? %>
  <%= govuk_accordion do |accordion|
        viewable_evidence.each do |evidence|
          accordion.with_section(heading_text: evidence.filename, expanded: true) do
            render EvidenceEmbedComponent.new(
              evidence: evidence,
              crime_application: @crime_application
            )
          end
        end
      end %>
<% else %>
  <p class="govuk-body"><%= t(:no_files_uploaded, scope: 'values') %></p>
<% end %>
