<% title t('.page_title') %>

<h1 class="govuk-heading-l"><%= t('.heading') %></h1>

<%= render partial: 'review_overview', locals: { crime_application: @crime_application } %>

<%= render partial: 'subnavigation', locals: { crime_application: @crime_application } %>

<% if @crime_application.supporting_evidence.present? %>
  <%= govuk_accordion do |accordion|
        @crime_application.supporting_evidence.each do |evidence|
          accordion.with_section(heading_text: evidence.filename) do
            if evidence.viewable_inline?
              if evidence.content_type == 'application/pdf'
                tag.iframe(
                  src: raw_crime_application_document_path(@crime_application, evidence.s3_object_key),
                  class: 'app-evidence-embed app-evidence-embed--pdf',
                  title: evidence.filename
                )
              else
                tag.img(
                  src: raw_crime_application_document_path(@crime_application, evidence.s3_object_key),
                  class: 'app-evidence-embed app-evidence-embed--image',
                  alt: evidence.filename
                )
              end
            else
              safe_join([
                          tag.p(t('.not_embeddable'), class: 'govuk-body'),
                          govuk_link_to(
                            sanitize(t(:download_file, scope: 'values', file_extension: evidence.file_extension, file_size: number_to_human_size(evidence.file_size))),
                            download_crime_application_document_path(@crime_application, evidence.s3_object_key)
                          )
                        ])
            end
          end
        end
      end %>
<% else %>
  <p class="govuk-body"><%= t(:no_files_uploaded, scope: 'values') %></p>
<% end %>
