<% title t('.page_title') %>
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl govuk-!-margin-bottom-3">
      <%= t '.heading' %>
    </h1>
  </div>
</div>

<%= form_with model: @user, url: manage_users_invitations_path do |f| %>

  <div class="govuk-form-group">
    <%= f.govuk_text_field :email,
                           class: 'govuk-!-width-one-third',
                           label: { text: label_text(:email) },
                           hint: { text: hint_text(:email) },
                           autocomplete: 'off' %>

    <%= f.govuk_check_box :can_manage_others,
                          true,
                          multiple: false,
                          label: { text: action_text(:give_access_to_manage_others) } %>
  </div>

  <div class="govuk-button-group">
    <%= f.submit 'Invite', class: 'govuk-button govuk-button--primary' %>
    <%= link_to action_text(:cancel), manage_users_invitations_path,
                class: 'govuk-link--no-visited-state govuk-!-font-size-19' %>
  </div>
<% end %>
