<% title t '.title', count: @decisions.size %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l govuk-!-margin-bottom-2">
      <%= @crime_application.reference %>
    </p>

    <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= @crime_application.applicant.full_name %>
    </h2>

    <h1 class="govuk-heading-xl">
      <%= t '.title', count: @decisions.size %>
    </h1>

    <%= govuk_error_summary(@form_object) %>
  </div>

  <div class="govuk-grid-column-full">
    <%= render(DecisionComponent.with_collection(@decisions)) %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <%= form_with model: @form_object, url: add_another_crime_application_decisions_path, method: :put do |f| %>

      <%= f.govuk_radio_buttons_fieldset :add_another_decision do %>
        <%= f.govuk_radio_button :add_another_decision, 'true' %>

        <%= f.govuk_radio_button :add_another_decision, 'false' %>
      <% end %>

      <%= f.govuk_submit %>
    <% end %>
  </div>
</div>
