<% title t '.title', count: @decisions.size %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <p class="govuk-body-l govuk-!-margin-bottom-2">
      <%= @crime_application.reference %>
    </p>

    <h2 class="govuk-heading-xl govuk-!-margin-bottom-4">
      <%= @crime_application.applicant.full_name %>
    </h2>

    <h1 class="govuk-heading-xl">
      <%= t '.title', count: @decisions.size %>
    </h1>
  </div>

  <div class="govuk-grid-column-full">
    <%= render(DecisionComponent.with_collection(@decisions), show_actions: true) %>
  </div>

  <div class="govuk-grid-column-two-thirds">
    <div class="govuk-button-group govuk-!-margin-bottom-6">
      <%= govuk_button_to action_text(:submit_decision), crime_application_complete_path(@crime_application) %>
      <%= govuk_button_to action_text(:save_and_come_back), assigned_applications_path, method: :get, secondary: true %>
    </div>
    <div class="govuk-button-group govuk-!-margin-bottom-6">
      <%= govuk_link_to action_text(:add_another_decision), new_crime_application_maat_decision_path(@crime_application), no_visited_state: true %>
    </div>
  </div>
</div>
