<%= yield :top_of_page %>
<!DOCTYPE html>
<html lang="<%= content_for?(:html_lang) ? yield(:html_lang) : 'en' %>" class="govuk-template">

<head>
  <title><%= yield(:page_title) %></title>

  <%= tag.meta charset: 'utf-8' %>
  <%= tag.meta 'http-equiv': 'X-UA-Compatible', content: 'IE=edge' %>
  <%= tag.meta name: 'viewport', content: 'width=device-width, initial-scale=1, viewport-fit=cover' %>
  <%= tag.meta name: 'theme-color', content: '#0b0c0c' %>
  <%= tag.meta property: 'og:image', content: asset_path('images/govuk-opengraph-image.png') %>

  <%= favicon_link_tag asset_path('images/favicon.ico') %>
  <%= favicon_link_tag asset_path('images/govuk-mask-icon.svg'), rel: 'mask-icon', type: 'image/svg', color: '#0b0c0c' %>
  <%= favicon_link_tag asset_path('images/govuk-apple-touch-icon.png'), rel: 'apple-touch-icon', type: 'image/png' %>
  <%= favicon_link_tag asset_path('images/govuk-apple-touch-icon-152x152.png'), rel: 'apple-touch-icon', type: 'image/png', size: '152x152' %>
  <%= favicon_link_tag asset_path('images/govuk-apple-touch-icon-167x167.png'), rel: 'apple-touch-icon', type: 'image/png', size: '167x167' %>
  <%= favicon_link_tag asset_path('images/govuk-apple-touch-icon-180x180.png'), rel: 'apple-touch-icon', type: 'image/png', size: '180x180' %>

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_importmap_tags %>

  <%= yield :head %>
</head>

<body class="govuk-template__body">
  <script>
    document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');
  </script>

  <%= govuk_skip_link %>
  <%= yield(:header) %>

  <div class="app-phase-banner-wrapper" role="status">
    <div class="govuk-width-container">
      <%= govuk_phase_banner(tag: { text: app_banner_tag }, text: t('phase_banner.text'), classes: "app-banner-#{HostEnv.env_name}") %>
    </div>
  </div>

  <%= yield(:primary_navgation) %>
  <main class="govuk-main-wrapper" id="main-content" role="main">
    <div class="govuk-width-container">

      <% unless top_level_path? %>
        <%= yield(:back_link) %>
      <% end %>
      <%= yield(:content) %>
    </div>
  </main>
  <%= govuk_footer %>
  </body>
</html>
